.card-container {
  margin: 50px 0;
  width: 100%;
}

.card {
  margin: 2% 2% !important;
}

.confirmed {
  background-image: linear-gradient(to right, rgba(0,180,219, 0.8), rgba(0,180,219, 0.7));
  
}
.recovered {
  background-image: linear-gradient(to right, rgba(107,229,133, 0.8), rgba(107,229,133, 0.7));
}
.deaths {
  background-image: linear-gradient(to right, rgba(237,33,58, 0.8), rgba(237,33,58, 0.7));
}
