<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')-%>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') -%>
    </header>

    <main>
        <form method="POST" action="/countries">
            <select name="countryName" id="countrySelector">
                <% countries.forEach(function(country) { %>
                <option><%= country %></option>
                <% }); %>
            </select>
            <input type="submit" value="Submit">
        </form>

    </main>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>

</body>

</html>