<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')-%>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') -%>
    </header>

    <main>
        <div style="text-align: center;">
            <form method="POST" action="/countries">
                <div class="form-group">
                    <label for="countrySelector">Select Region</label>
                    <select name="countryName" class="form-control" id="countrySelector">
                        <% countries.forEach(function(country) { %>
                        <option><%= country %></option>
                        <% }); %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>

</body>

</html>