body {
  background-color: #DBE6F6;
  color: black;
}
p{
  margin: 0
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pageHead{
  font-family: 'Manrope', sans-serif;
  font-size:30px;
}
