body {
  background-color: #DBE6F6;
  color: black;
  font-family: 'Roboto Mono', monospace;
}
p{
  margin: 0
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foot-ce{
  margin: 5px 0;
}