.nav-options {
  font-size: 1.2rem;
  color: #fff;
}

.india {
  display: inline-block;
}

img {
  width: 30px;
  margin: 0 10px 0;
}

nav {
  margin-bottom: 20px;
}

.dropdwn-item {
  color: #fff;
}

.dropdown-parent:hover {
  background-color: rgba(0, 0, 70, 0.6);
  text-decoration: none;
}
